.qr-reader {
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    overflow: hidden;
}

/* .uid-data {
    margin-top: 15%;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
} */

.header2 {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 20px;
    margin-top: 55%;
    line-height: 23px;
    text-align: center;
    color: white;
}
